<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="zkserver_Cmd" value="zkserver" />
    <add key="kafkaserver_folder" value="C:\kafka_2.11-0.11.0.1>" />
    <add key="startkafkaserver_cmd" value=".\bin\windows\kafka-server-start.bat .\config\server.properties" />
    <add key="topic_Folder" value="C:\kafka_2.11-0.11.0.1\bin\windows>" />
    <add key="topicList_cmd" value="kafka-topics.bat --list --zookeeper localhost:2181" />
    <add key="topicCreate_cmd" value="kafka-topics.bat --create --zookeeper localhost:2181 --replication-factor 1 --partitions 1 --topic xxx" />
    <add key="topicDelete_cmd" value="kafka-topics.bat --delete --zookeeper localhost:2181 --topic xxx" />
  </appSettings>
</configuration>